nav ul {
    list-style-type: none;
    font-size: 300%;
    position: absolute;
    top: 20%;
    left: 10%;


}

nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-decoration: none;
    color: black;
}