nav ul {
    list-style-type: none;
    font-size: 300%;
    position: absolute;
    top: 5%;
    left: 0%;
}

nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-decoration: none;
    color: black;
}

.contact{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-style: oblique;
    position: absolute;
    top: 30%;
    left: 35%;
}
