nav ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    font-style: oblique;
    color: black;
    list-style-type: none;
    position: absolute;
    top: 20%;
    left: 10%;

}
p h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
}