nav ul {
    list-style-type: none;
    font-size: 300%;
    position: absolute;
    top: 5%;
    left: 0%;
}

nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-decoration: none;
    color: black;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 300%;
    position: absolute;
    left: 40%;
    top: 20%;
}

.img2 img {
    position:absolute;
    width: 20%;
    left: 25%;
    top: 35%;
    border-radius: 5%
}

.img1 img {
    position:absolute;
    width: 20%;
    left: 50%;
    top: 45%;
    border-radius: 5%
}

.img3 img {
    position:absolute;
    width: 20%;
    left: 20%;
    top: 105%;
    border-radius: 5%
}

.img4 img {
    position:absolute;
    width: 20%;
    left: 55%;
    top: 85%;
    bottom: 5px;
    border-radius: 5%
}